<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760760627618-0n6drabsjj5g6d326utafao016gphp1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760760627618-0n6drabsjj5g6d326utafao016gphp1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCKI8IDg7kNfOKF4MC6Y5kH-5dPz21o8Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>760760627618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab7</string>
	<key>PROJECT_ID</key>
	<string>mobile-cource-lab-7</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-cource-lab-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760760627618:ios:3c40407834d5c8c26482fb</string>
</dict>
</plist>