<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114037666917-v5fnp3l9gvl6eepdmsf85tho3r500e49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114037666917-v5fnp3l9gvl6eepdmsf85tho3r500e49</string>
	<key>API_KEY</key>
	<string>AIzaSyADxctRWpdXtA4Asj9wWcRiFP3ymRNwXBY</string>
	<key>GCM_SENDER_ID</key>
	<string>114037666917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab10</string>
	<key>PROJECT_ID</key>
	<string>mobile-cource-lab-10</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-cource-lab-10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114037666917:ios:6b299187f8ff6a5e54428c</string>
</dict>
</plist>